@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Montserrat, Helvetica, sans-serif;
}

.btn{
    text-transform: uppercase;
    border-radius: 9999px;
    font-weight: bold;
    cursor: pointer;
}

.btn--hero--primary{
    color: #9A684B;
    background-color: white;
    margin: 14px 0;
}

.btn--hero--primary:hover{
    color:#4b7d9a;
}

.btn--secondary{
    color: white;
    background-image: linear-gradient(to right,#EAB787, #9A684B);
    margin: 8px 0;
}
.btn--secondary:hover{
    background-image: linear-gradient(to right, #87BAEA, #4B7D9A);
}

.btn--footer{
    white-space: nowrap;
    color: white;
    font-weight: 700;
    background-color: #EAB787;
}

.btn--footer:hover{
    background-color: #4b7d9a;

}

.btn--large{
    padding: 14px 28px;
}

.btn--medium{
    padding: 8px 22px;
}

.bg--gradient-color-sky{
    background-image: linear-gradient(to right, #295760, #638990);
}