@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Montserrat, Helvetica, sans-serif;
}

.btn{
    text-transform: uppercase;
    border-radius: 9999px;
    font-weight: bold;
    cursor: pointer;
    margin: 14px 0;
}

.btn--hero--primary{
    color: #9A684B;
    background-color: white;
}

.btn--hero--primary:hover{
    color:#4b7d9a;
}

.btn--hero--secondary{
    color: white;
    background-image: linear-gradient(#EAB787 #9A684B);
}
.btn--hero--secondary:hover{
    background-image: linear-gradient(#87BAEA #4B7D9A);
}

.btn--medium{
    padding: 14px 28px;
}